# Environment types: local, dev, prod
ENV=ENVIRONMENT

# GATEWAY
GATEWAY_HTTP_HOST=HOSTNAME
GATEWAY_PORT=PORT
JWT_PUBLIC_KEY_PATH=PATH_TO_PUBLIC_KEY

# AUTH
AUTH_CONFIG_PATH=PATH_TO_YAML_CONFIG

AUTH_HTTP_HOST=HOSTNAME
AUTH_HTTP_PORT=PORT

AUTH_POSTGRES_HOST=HOSTNAME
AUTH_POSTGRES_PORT=PORT
AUTH_POSTGRES_DB=DB_NAME
AUTH_POSTGRES_USER=USERNAME
AUTH_POSTGRES_PASSWORD=PASSWORD

AUTH_REDIS_HOST=HOSTNAME
AUTH_REDIS_PORT=PORT
AUTH_REDIS_DB=DB_NAME
AUTH_REDIS_PASSWORD=PASSWORD

JWT_ISSUER=ISSUER

# TRANSLATIONS
TRANSLATIONS_CONFIG_PATH=PATH_TO_YAML_CONFIG

TRANSLATIONS_GRPC_HOST=HOSTNAME
TRANSLATIONS_GRPC_PORT=PORT

TRANSLATIONS_POSTGRES_HOST=HOSTNAME
TRANSLATIONS_POSTGRES_PORT=PORT
TRANSLATIONS_POSTGRES_DB=DB_NAME
TRANSLATIONS_POSTGRES_USER=USERNAME
TRANSLATIONS_POSTGRES_PASSWORD=PASSWORD


# YANDEX API KEYS
YANDEX_DICTIONARY_API_KEY=YANDEX_DICTIONARY_API_KEY
YANDEX_TRANSLATION_API_KEY=YANDEX_TRANSLATION_API_KEY