# Example .env file for Auth service
# For local development only. Do not use in production.
# All variables are set in the root .env file since docker-compose does not support multiple .env files.

CONFIG_PATH=PATH_TO_YAML_CONFIG

# HTTP Server
HTTP_HOST=HOSTNAME
HTTP_PORT=PORT

# Postgres
POSTGRES_DB=DB_NAME
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_HOST=HOSTNAME
POSTGRES_PORT=PORT

# Redis
REDIS_HOST=HOSTNAME
REDIS_PORT=PORT
REDIS_DB=DB_NAME
REDIS_PASSWORD=PASSWORD