CONFIG_PATH=PATH_TO_YAML_CONFIG

# HTTP Server
HTTP_HOST=HOSTNAME
HTTP_PORT=PORT

# Postgres
POSTGRES_DB=DB_NAME
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_HOST=HOSTNAME
POSTGRES_PORT=PORT

# Redis
REDIS_HOST=HOSTNAME
REDIS_PORT=PORT
REDIS_DB=DB_NAME
REDIS_PASSWORD=PASSWORD