env: "local"

http_server: 
  address: "localhost"
  port: "8080"

postgres:
  host: "localhost"
  port: 5433
  name: "postgres"
  user: "postgres"
  password: "9if6p0vNpzV"
  sslmode: "disable"
  timezone: Asia/Shanghai

jwt:
  private_key_path: "private.pem"
  public_key_path: "public.pem"
  issuer: "auth"
  access_ttl: "15m"
  refresh_ttl: "90d"

redis:
  host: "localhost"
  port: "6379"
  password: ""
  db: 0
  username: ""
  max_retries: 5
  dial_timeout: 10
  read_timeout: 5
  write_timeout: 5
